doctype html
html
	head
		title Ollie Crawford, Web Developer
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="icon" type="image/x-icon" href="../../favicon.ico")
		link(rel="shortcut icon" href="../favicon.ico")
		body
			nav#navBar
				a#homeLink.navLink(href="#intro") Home
				a.navLink.hide(href="#aboutMeSection") About
				a.navLink.hide(href="#portfolioSection") Projects
				a.navLink.hide(href="#skillsSection") Skills
				a.navLink.hide(href="#contactSection") Contact
			block content
