doctype html
html
	head
		title Ollie Crawford, Web Developer
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="icon" type="image/x-icon" href="../../favicon.ico")
		link(rel="shortcut icon" href="../favicon.ico")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		body
			nav#navBar
				a#homeLink.navLink(href="#intro") Home
				a.navLink.hide(href="#aboutMeSection") About
				a.navLink.hide(href="#portfolioSection") Projects
				a.navLink.hide(href="#skillsSection") Skills
				a.navLink.hide.lastLink(href="#contactSection") Contact
			block content
