:root {
	/* CSS HEX */
	--orange-pantone: #fc5802ff;
	--orange: #f68105ff;
	--yellow-orange: #fcaa37ff;
	--viridian-green: #259ea1ff;
	--teal: #008083ff;
	--skobeloff: #026061ff;
	--rich-black: #0C3131;
	--white: rgb(255, 255, 255);

}

@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@font-face {
	font-family: 'DM Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: local('./DM Sans Regular'), url('../fonts/dm-sans/DMSans-Regular.woff') format('woff');
}


@font-face {
	font-family: 'DM Sans Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DM Sans Italic'), url('../fonts/dm-sans/DMSans-Italic.woff') format('woff');
}


@font-face {
	font-family: 'DM Sans Medium';
	font-style: normal;
	font-weight: normal;
	src: local('DM Sans Medium'), url('../fonts/dm-sans/DMSans-Medium.woff') format('woff');
}


@font-face {
	font-family: 'DM Sans Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DM Sans Medium Italic'), url('../fonts/dm-sans/DMSans-MediumItalic.woff') format('woff');
}


@font-face {
	font-family: 'DM Sans Bold';
	font-style: normal;
	font-weight: normal;
	src: local('DM Sans Bold'), url('../fonts/dm-sans/DMSans-Bold.woff') format('woff');
}


@font-face {
	font-family: 'DM Sans Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('DM Sans Bold Italic'), url('../fonts/dm-sans/DMSans-BoldItalic.woff') format('woff');
}

a {
	text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	background-color: var(--rich-black);
	color: var(--white);
	font-family: "DM Sans Regular";
	overflow-x: hidden;
}

h1 {
	font-family: "DM Sans Bold";
	font-size: 3em;
}

h4 {
	font-size: 1.25rem;
}

#introText {
	position: absolute;
	top: 50%;
	left: 3rem;
	text-align: left;
	font-family: "DM Sans Bold";
	animation-duration: 2s;
	animation-name: FadeIn;
}

#introText>h1 {
	font-family: "DM Sans Bold";
	font-size: 3em;
}

#introText>h2 {
	font-family: "DM Sans Italic";
}

#intro {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#introBackground {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
}

#navBar {
	background-color: var(--rich-black);
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 2em;
	position: fixed;
	top: 0;
	width: 100vw;
	max-width: 100vw;
	z-index: 5;
}


.navLink {
	display: inline-block;
	position: relative;
	font-size: 1.5em;
	color: var(--white);
	margin-right: 0;
	animation-duration: 2s;
	animation-name: FadeIn;
}

.navLink:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--orange);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.navLink:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.lastLink {
	margin-right: 1em;
}

#aboutMeSection {
	padding-top: 2rem;
	display: flex;
	flex-direction: row;
	gap: 1em;
	padding-left: 3rem;
	padding-bottom: 2rem;
	border-top: 2px solid var(--viridian-green);
	border-bottom: 2px solid var(--viridian-green);
}

#aboutMeText {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#aboutMeImage {
	display: flex;
	align-items: center;
	justify-content: center;
}

#meImage {
	width: 50%;
	border-radius: 10rem;
}

#aboutMeSection > h1 {
	text-decoration: underline var(--orange);
}

#aboutMeSection > * {
	width: 50%;
}

.itemStyleOne, .itemStyleTwo {
	display: flex;
	flex-direction: row;	
	width: 100vw;
	height: 25rem;
	padding: 1rem 0;
	gap: 1rem;
}

.itemStyleOne {
	text-align: right;
	background-color: var(--skobeloff);
}

.itemStyleOne > .itemTextDisplay {
	align-items: end;
}

.itemStyleOne > .itemTextDisplay > h4 {
	padding-left: 3rem;
	max-width: 50%;
}

.itemStyleTwo {
	flex-direction: row-reverse;
}

.itemStyleOne > *, .itemStyleTwo > * {
	max-width: 50%;
}

.itemStyleTwo > .itemTextDisplay > h4 {
	padding-right: 3rem;
	max-width: 67%;
}

.itemImageDisplay {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.itemImageDisplay > img {
	max-height: 80%;
	max-width: 100%;
}

.itemTextDisplay {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.itemTextDisplay > h1 {
	text-decoration: underline solid var(--orange);
}

#portfolioSection {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.itemLink {
	display: inline-block;
	position: relative;
	font-size: 1.5em;
	color: var(--white);
	animation-duration: 2s;
	animation-name: FadeIn;
	width: max-content;
}

.itemLink:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--orange);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.itemLink:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#skillsSection {
	gap: 3rem;
	display: flex;
	flex-direction: column;
	padding: 3rem;
}

#icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 7rem;
	height: 7rem;
	transition: 0.2s;
	transition-timing-function: ease;
}

.icon:hover {
	transform: scale(1.1);
}

.iconImage {
	width: 6rem;
	height: 5rem;
	display: flex;
	align-content: center;
	justify-content: center;

}

.iconImage > img {
	width: 6rem;
	height: auto;
	max-height: 5rem;
}

#contactSection {
	background-color: var(--skobeloff);
	padding: 3rem;
	gap: 3rem;
	display: flex;
	flex-direction: column;
}

#contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;
}

.contactLink {
	display: inline-block;
	position: relative;
	font-size: 3em;
	color: var(--white);
	animation-duration: 2s;
	animation-name: FadeIn;
}

.contactLink:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--orange);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.contactLink:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}




#footer {
	background-color: var(--skobeloff);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
}

@media only screen and (max-width: 600px) {

	.hide {
		visibility: hidden;
		display: none;
	}
	#homeLink {
		visibility: visible;
	}

	#navBar {
		justify-content: flex-start;
		padding-left: 1rem;
	}

	.navLink:after {
		display: none;
	}

	#introText {
		left: 1rem;
	}

	#aboutMeSection {
		padding-left: 1rem;
		text-align: left;
		flex-direction: column;
		width: 90vw;
		align-items: center;
		border: none;

	}
	#aboutMeSection > * {
		width: 100%;
	}

	#portfolioSection {
		padding-left: 1rem;
		padding-right: 1rem;
		max-width: 100vw;
	}
	
	.itemStyleOne > *, .itemStyleTwo > * {
		width: 100%;
		max-width: none;
		text-align: left;
	}

	.itemStyleOne > h1, .itemStyleTwo > h1 {
		text-align: center;
	} 

	.itemStyleOne, .itemStyleTwo {
		flex-direction: column;
		height: auto;
		max-width: 100%;
		gap: 2rem;
		padding: 2rem 1rem;
	}

	
	.itemStyleOne > .itemTextDisplay > h4, .itemStyleTwo > .itemTextDisplay > h4 {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.itemTextDisplay {
		align-items: center;
		gap: 2rem;
	}

	.itemImageDisplay {
		width: 90vw;
		align-items: center;
		align-self: center;
	}

	.itemLink {
		align-self: start;
	}

	#skillsSection {
		padding: 1rem;
	}

	#icons {
		height: 10rem;
		flex-wrap: nowrap;
		overflow: scroll;
	}

	.contactLink {
		font-size: 1.25rem;
		text-decoration: underline var(--orange);
	}

	.contactLink::after {
		display: none;
	}
}